.container-fluid {
  background-color: wheat;
}
.logo {
  margin-right: 30px;
}
.nav-item > a::before {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all 0.4s;
}

.nav-item > a:hover::before {
  width: 100px;
}

/* .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
} */
.header{
  display: flex;
  
  background-repeat: no-repeat;
height: 1000px;
  border-radius: 0 0 30px 0;
  margin: 10px;
  
}



.txt {

  justify-content: center;
  align-items: center;
}
.header_txt {
display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
margin-left: 30px;

}

.center {
  background-color: antiquewhite;
  width: 100%;
  height: 140px;
  top: -500%;
  border-radius: 30px;
}
