.container-fluid {
  background-color: wheat;
}
.logo {
  margin-right: 30px;
}
.nav-item > a::before {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all 0.4s;
}

.nav-item > a:hover::before {
  width: 100px;
}

/* .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
} */
.header{
  display: flex;
}

.header_img1 {
  display: flex;

  width: 100%;
  margin-right: 30px;
  display: flex;
  background-repeat: no-repeat;
  border-radius: 30px;
  justify-content: start;
  align-items: start;
}
.header_img2{
  display: flex;

  width: 100%;
  margin-right: 30px;
  display: flex;
  background-repeat: no-repeat;
  border-radius: 30px;
  justify-content: start;
  align-items: start;
}
.txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  background-color: antiquewhite;
}
