html,
body {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#item1 {
  width: 100%;
  height: 100%;
  background-image: url(../img/독도이미지1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 30px;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
.container-fluid {
  justify-content: space-between;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-caption {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.link {
  border-radius: 30px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border: 3px solid aqua;
}
.container1 {
  margin: 251px 251px;
  display: flex;
  padding: 110px;
}

.wrap {
  border-radius: 30px;
  width: 1400px;
  margin: 0 auto;
  padding: 80px 75px 30px;
  background: #f8f8f8;
}

.독도바로알기 {
  color: #555;
  padding: 30px 0px 85px;
}
.btn-go {
  border: 3px solid #09847f;
  color: #09847f;
  border-radius: 30px;
}

.wrap1 {
  padding: 700px;
  width: 1400px;
  margin: 0 auto;
  padding: 80px 75px 30px;
  background: #f8f8f8;
  float: right;
}
.num {
  font-size: 31px;
  margin: 26px;
}

.infowrap {
  display: flex;
  width: 490px;
  height: 109px;
  justify-content: center;
  align-items: center;
}
.btn-info {
  background-color: #76777e;

  color: #fff;

  border-radius: 30px;
  padding: 10px 28xp;
}

.left {
  padding: 0px 26px;
  width: 400;
  height: 480;
}
.container1 h3 {
  padding: 61px 0 32px;
}

.aa {
  width: 30px;
  height: 30px;
}
.rigt-wrap1 {
  width: 243px;
  padding: 39px 33px;
  background-color: #f5f5f8;
  display: flex;
}
.swiper-slide .swiper-slide-prev {
  width: 243px;
  height: 414px;
  padding: 0 6px 0 0;
}
.dokdo1 {
  width: 117px;
  height: 251px;
}
.wrap {
  position: relative;

  width: 700px;
  height: 445px;
}
.wrap > img {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 30px;
}
.wrap1 {
  width: 700px;
  height: 445px;
  padding: 0;
  margin: 0;
}
.독도바로알기 {
  padding: 30px 0 85px;
  color: #555;
  font-size: 17px;
}
.notice_inn {
  display: flex;
  position: relative;
  margin: 251px;
  padding: 0;
  font-weight: 300;
}
.li-tag {
  display: flex;
}
.left {
  width: 524px;
  height: 520px;
}
.공지사항 {
  padding: 70px 0 35px;
  display: flex;
}
.rigt-wrap1 {
  display: flex;
  background-color: #f5f5f8;
  border-radius: 30px;
  flex-direction: column;

  border-radius: 30px;

  width: 393px;
  height: 521px;
  text-decoration: none;
  padding: 55px 44px;
  margin: 0 60px 0 0;
}
.img {
  width: 305px;
  height: 200px;
  overflow: hidden;
}
.btn-new {
  border: 3px solid #09847f;
  color: #09847f;
  border-radius: 30px;
}
.img_dokdo {
  width: 100%;
}

.rigt-wrap2 {
  display: flex;
  background-color: #f5f5f8;
  border-radius: 30px;
  flex-direction: column;

  border-radius: 30px;

  width: 393px;
  height: 521px;
  text-decoration: none;
  padding: 55px 44px;
  margin: 0 60px 0 0;
}
.banner {
  background-color: #09847f;
  display: flex;
  border-radius: 30px;
  position: relative;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 9rem 25rem 5rem #00000036;
  z-index: 1;
  width: 1400px;
  height: 235px;
}
.rigt-wrap2 p {
  flex-grow: 1;
font-size: 16px;

  color: black;
  text-decoration: none;

}

.banner p {
  color: #fff;
}

.banner > a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: #fff;
  text-decoration: none;
}

.banner h3 {
  padding-bottom: 20px;
}
.img1{
  position: absolute;
}
.img2{
position: absolute;
justify-content: center;
align-items: center;
width: 177px;
height: 75px;

}