body{
    background-color: antiquewhite;
  }
  #carouselExample{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 100px;
display: flex;
  }
  .p-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
